.align-text{
  text-align: center;
}
.btn:hover{
  background-color: #455A64;
  color:white !important;
}
.align-right{
  text-align: right;
}
.item-align{
  padding:10px 15px;
  font-size: 18px;
}
.heart-shadow:hover {
  text-shadow: 2px 2px 2px red;
}
.img1 {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.img1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.carouselimage {
    height: 600px;
}
.header-padding{
  padding-top: 50px;
  padding-bottom: 20px;
}
.header-padding2{
  padding-top: 50px;
}
.dkcolor{
  background-color: #EF9A9A;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center
}
li {
    display: inline;
    list-style: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
 .bg{
    background: url('https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
    min-width: 100%;
    min-height:500px;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
}
@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }
center {
        display: block;
        text-align: -webkit-center;
        }
